$primary: #2b2d42;
$secondary: #8d99ae;
$delete: #d90429;
$card-color: #f0f3f8;
$light: #edf2f4;
$delete-hover: #ef233c;

//Fonts
$font-xs: 0.5rem;
$font-sm: 0.9rem;
$font-rg: 1rem;
$font-subtitle: 1.4rem;
$font-md: 2rem;
$font-lg: 3rem;
$font-xl: 4rem;
$font-xxl: 6rem;

//Margin
$title-margin-bottom: Min(1.5vw, 2rem);
$header-margin: Min(4rem, 4vh);
$post-card-margin-bottom: Min(4rem, 4vh);
$post-card-title-bottom: Min(2rem, 2vh);

//Padding
$post-card-padding: Min(5vw, 2rem);
